/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#esrimap {
    width: 100%;
    height: 80%;
}
.esrimapinfo {
    width: 100%;
    height: 20%;
}
